---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Fran, a senior back-end architect that hails from El Vendrell, Spain.
        <br />
        I'm an expert with the following tools:
      </p>
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>Solidjs</li>
        <li>Astro</li>
        <li>svelte</li>
        <li>Nodejs</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about everything related to digital engineering, Perú, japanese culture and Gregg's meal deal.
      An unusual passion of mine are dinosaurs. I find them to be fascinating criatures that tell about Earth's past 
      how widly different was this planet of ours millions of years ago. Besides, dinasours are cool.
    </p>
    <p class="text-sm font-light">
      Providing excellent webpages tailored to my customers'
      demands is my current goal I'm striving for.  
    </p>
  </div>
</Card>
